<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/application.css">
</head>
<body>
  <% if session[:message] %>
    <div class="message">
      <%= session.delete(:message) %>
    </div>
  <% end %>

  <%== yield %>

</body>
</html>
